
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #020617;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #38bdf8;
}

.logo svg {
    width: 40px;
    height: 40px;
}



nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #cbd5f5;
    transition: 0.3s;
}

nav a:hover,
nav a.active {
    color: #38bdf8;
}


.hero {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(135deg, #1e293b, #020617);
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero p {
    color: #94a3b8;
}


.categories {
    text-align: center;
    margin: 30px 0;
}

.categories button {
    background: none;
    border: 1px solid #334155;
    color: #cbd5f5;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3s;
}

.categories button:hover,
.categories button.active {
    background-color: #38bdf8;
    color: black;
}


.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 40px;
}


.card {
    background-color: #020617;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    transition: 0.3s;
    border: 1px solid #1e293b;
}

.card:hover {
    transform: translateY(-5px);
    border-color: #38bdf8;
}


.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #38bdf8;
    color: black;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 10px;
}

.badge.new {
    background-color: #22c55e;
}


.card h3 {
    margin: 20px 0 10px;
}

.card p {
    font-size: 14px;
    color: #94a3b8;
}

.price {
    display: block;
    margin: 15px 0;
    font-size: 20px;
    font-weight: bold;
    color: #38bdf8;
}


.card button {
    background-color: #38bdf8;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.card button:hover {
    background-color: #0ea5e9;
}


.disclaimer{
    color:gray;
    text-align:center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #020617;
    color: #64748b;
    margin-top: 40px;
}
